button {
  padding: 1.5rem;
  border: none;
  border-radius: 0.1875rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary {
  background-color: var(--color-accent);
  color: var(--text-color-white);
}

.button-secondary {
  background-color: var(--color-gray-light);
}

.button-ternary {
  background-color: var(--color-cuaternary);
}

.button-primary:disabled {
  cursor: auto;
  opacity: 0.6; 
}

button:hover {
  opacity: 0.8;
}