<div class="product-wrapper">
  <div class="product">
    <div class="product__toolbar">
      <input class="product__input" type="text" placeholder="Search..." [(ngModel)]="filterText"
        (input)="onFilterChange($event)" />
      <button-custom [buttonClass]="'button-primary'" (buttonClicked)="onAdd()">
        Agregar
      </button-custom>
    </div>

    <div class="product__table-container">
      <div class="product__table-wrapper">
        <table class="product__table">
          <thead class="product__thead">
            <tr class="product__row">
              <th class="product__th">Logo</th>
              <th class="product__th">Nombre</th>
              <th class="product__th">
                Descripción
                <span class="product__th-info">i</span>
              </th>
              <th class="product__th">
                Fecha de liberación
                <span class="product__th-info">i</span>
              </th>
              <th class="product__th">
                Fecha de reestructuración
                <span class="product__th-info">i</span>
              </th>
              <th class="product__th"></th>
            </tr>
          </thead>
          <tbody class="product__tbody">
            <tr class="product__row" *ngFor="let product of filteredProducts">
              <td class="product__td">
                <img [src]="product.logo" alt="{{ product.name }}" width="50" />
              </td>
              <td class="product__td">{{ product.name }}</td>
              <td class="product__td">{{ product.description }}</td>
              <td class="product__td">{{ product.date_release | date:'dd/MM /yyyy' }}</td>
              <td class="product__td">{{ product.date_revision | date:'dd/MM/yyyy' }}</td>
              <td class="product__td">
                <dropdown-custom 
                  [dropdownId]="'dropdown-' + product.id" 
                  (edit)="onEdit(product.id)" 
                  [isOpened]="openDropdown === 'dropdown-' + product.id"
                  (toggle)="toggleDropdown('dropdown-' + product.id)">
                </dropdown-custom>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="product__table-footer">
        <div class="product__table-footer-left">
          {{ filteredProducts.length }} Resultados
        </div>
        <div class="product__table-footer-right">
          <div class="product__table-footer-select-wrapper">
            <select class="product__table-footer-select" [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
              <option *ngFor="let size of pageSizeOptions" [value]="size">
                {{ size }}
              </option>
            </select>
            <span class="product__table-footer-select-icon"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>