.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: var(--text-color-primary);
}

.product {
  max-width: 75%;
  width: 100%;
  padding: 4rem 2rem 1rem;
  box-sizing: border-box;
  background-color: var(--color-primary);
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
}

/* Toolbar */
.product__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem;
}

.product__input {
  padding: 1rem 0.5rem;
  width: 200px;
  border: 1px solid var(--color-tertiary);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  background-color: var(--color-white);
  transition: border-color 0.3s ease;
}

.product__input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
  outline: none;
}

.product__button {
  padding: 1.3rem 1rem;
  background-color: var(--color-accent);
  border: none;
  color: var(--text-color-primary);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product__button:hover {
  filter: brightness(0.9);
}

/* ===== Tabla ===== */

.product__table-container {
  margin: 2rem;
  padding: 2rem;
  background-color: var(--color-white);
}

/* Scroll */
.product__table-wrapper {
  overflow-x: auto;
}

/* Tabla */
.product__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  min-width: calc(15rem * 6);
}

/* Columnas */
.product__th,
.product__td {
  min-width: 15rem;
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__th-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 1.125rem;
  height: 1.125rem;
  margin-left: 0.375rem;

  background-color: var(--color-gray-medium);
  color: var(--text-color-secondary);
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;

  cursor: pointer;
  user-select: none;
}

.product__th-info:hover {
  background-color: var(--color-gray-dark);
}

.product__thead .product__th {
  padding: 1.25rem 0.9375rem;
  background-color: var(--bg-color-light-secondary);
  color: var(--text-color-primary);
  text-align: center;
  border-bottom: 0.125rem solid var(--color-gray-light);
  user-select: none;
}

.product__tbody .product__td {
  padding: 0.75rem 0.9375rem;
  border-bottom: 0.0625rem solid var(--color-gray-light);
  text-align: center;
  vertical-align: middle;
}

.product__tbody .product__row:hover {
  background-color: var(--bg-color-light-tertiary);
}

.product__tbody img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

/* ===== Footer de la tabla ===== */

.product__table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}

.product__table-footer-left {
  user-select: none;
}

.product__table-footer-right {
  display: flex;
  align-items: center;
  user-select: none;
}

.product__table-footer-select-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

/* Estilos del select */
.product__table-footer-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 0.375rem 1.25rem 0.375rem 0.5rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--color-dark);
  font-size: 0.9rem;
  background-color: var(--color-white);
  cursor: pointer;
  width: 100%;
}

/* Icono triángulo hacia abajo */
.product__table-footer-select-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid var(--text-color-primary);
  pointer-events: none;
}

/* Estilos para el botón de tres puntos */
.product__dropdown-btn {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color-primary);
  padding: 0;
  position: relative;
}

/* Menú desplegable */
.product__dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 0.25rem;
  width: 9.375rem;
}


/* Mostrar el menú cuando está activo */
.product__dropdown-menu.active {
  display: block;
}

/* Lista de opciones del dropdown */
.product__dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Elementos dentro del dropdown */
.product__dropdown-item {
  padding: 0.625rem;
  text-align: left;
}

.product__dropdown-item a {
  text-decoration: none;
  color: #333;
  display: block;
}

/* Hover en los elementos del menú */
.product__dropdown-item:hover {
  background-color: var(--color-tertiary);
  cursor: pointer;
}
