/* dropdown.component.css */


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown__icon {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color-primary);
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
}

.dropdown__icon:hover {
  transform: scale(1.1);
}

.dropdown__dropdown-btn {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color-primary);
  padding: 0;
  position: relative;
  z-index: 101;
}

.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-white);
  border: 0.0625rem solid var(--color-gray-light);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 0.25rem;
  width: 7rem;
  box-sizing: border-box;
}

.dropdown__menu--open {
  display: block;
}

.dropdown__menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown__menu__item {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown__menu__item a {
  text-decoration: none;
  color: var(--text-color-primary);
  display: block;
  width: 100%;
}

.dropdown__menu__item:hover {
  background-color: var(--color-tertiary);
  cursor: pointer;
}

/* ===== Responsive ===== */
@media (max-width: 48rem) {
  
  .dropdown__icon {
    font-size: 1.3rem;
  }

  .dropdown__menu {
    width: auto;
    max-width: 12rem;
    right: 0;
    left: auto;
    top: 100%;
  }
}