:root {
  /* --- Colores principales --- */
  --color-primary: #F4F6F9;
  --color-secondary: #F9FAFC;
  --color-tertiary: #DDDDDF;
  --color-cuaternary: #EAECF2;
  --color-white: #FFFFFF;
  
  /* --- Colores oscuros --- */
  --color-dark: #000;
  --color-dark-secondary: #1f2937;
  
  /* --- Colores grises --- */
  --color-gray-light: #ccc;
  --color-gray-medium: #888;
  --color-gray-dark: #555;
  
  /* --- Colores de énfasis --- */
  --color-accent: #F5DF66;
  
  /* --- Colores específicos --- */
  --color-error: #ED1C24;
  --color-success: #4CAF50;
  --color-warning: #FFC107;
  
  /* --- Colores de texto --- */
  --text-color-primary: var(--color-dark-secondary);
  --text-color-secondary: var(--color-white);
  --text-color-disabled: var(--color-gray-medium);
  --text-color-error: var(--color-error);
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--color-white);
  font-family: dialog, sans-serif;
}