.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: var(--text-color-primary);
  background-color: var(--color-primary);
}

.form {
  width: 100%;
  max-width: 45rem;
  box-sizing: border-box;
  background-color: var(--color-white);
  box-shadow: 0 0.0625rem 0.1875rem rgb(0 0 0 / 0.05);
  display: flex;
  flex-direction: column;
}

.form__header {
  border-bottom: 0.0625rem solid var(--color-dark);
  text-align: center;
  font-size: 1.125rem;
}

.form__title {
  margin: 2rem;
}

.form__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
  margin: 1rem 3rem 2rem 3rem;
}

.form__grid {
  display: contents;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__input {
  padding: 1rem;
  border: 0.0625rem solid var(--color-dark);
  border-radius: 0.3125rem;
  font-size: 0.95rem;
  box-sizing: border-box;
}

.form__error {
  color: var(--text-color-error);
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.form__input--error {
  border: 0.0625rem solid var(--text-color-error);
}

.form__footer {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin: 3rem 0rem;
}

.form__input:disabled {
  color: var(--text-color-desabled);
  background-color: var(--bg-color-light-secondary);
  border: 0.0625rem solid var(--color-gray-light);
}

.form__label-disabled {
  margin-bottom: 0.5rem;
  color: var(--text-color-desabled);
  font-weight: bold;
}


